**/__pycache__
*.pyc
**/cdk.out
deploymnet/
.venv/
.git/
.github/
.mypy_cache
.pytest_cache/
docker/
docs/
scripts/
test/
cdk.py
.coverage
.hadolint.yaml
.pylintrc
README.md
cdk.context.json
cdk.json
docker-compose.yaml
mkdocs.yaml
