-r ./lib/storage/requirements.txt
-r ./lib/web-backend/requirements.txt
-r ./lib/masterserver/requirements.txt
-r ./deployment/requirements.txt

black
isort
mypy
pylint
pytest
pytest-cov
pytest-mock
yamllint
PyYAML
pip-tools
